* {
    box-sizing: border-box;
    transition-duration: 0.2s;
}

html {
    background: linear-gradient(to right, #f8fbff, #e3f2fd)!important;
            height: 100vh
}

 body {
    background: transparent;
    color: rgb(43, 44, 45);
	margin: 0;
	padding-bottom: 0;
	min-height: 100vh; 
	position: relative;
}