<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Milestone - Registration</title>
</head>
<body>
    <form action="#" th:action="@{doRegister}" th:object="${userModel}" method="post">
        <table>
            <tr>
                <td>First Name:</td><td><input type="text" th:field="*{FirstName}"/></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</h5></td>
            </tr>

            <tr>
                <td>Last Name:</td><td><input type="text" th:field="*{lastName}"/></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</h5></td>
            </tr>

            <tr>
                <td>Username:</td><td><input type="text" th:field="*{username}"/></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</h5></td>
            </tr>

            <tr>
                <td>Password:</td><td><input type="password" th:field="*{password}"/></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</h5></td>
            </tr>

            <tr>
                <td>Email</td><td><input type="text" th:field="*{email}"/></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</h5></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        <div th:if="${#fields.hasErrors('*')}">List of Errors</div>
        <div th:each="err : ${#fields.errors('*')}">
            <span style="color:red" th:text="${err}" class="fieldError"></span>
        </div>
    </form>
</body>
</html>